# ``Web Scraping``

<hr>

Web Scrapping adalah cara mendapatkan data dari tampilan website. Pengetahuan tentang elemen html diperlukan. Karena dalam proses web scrapping, kita mencari tag html dari informasi atau data yang kita perlukan.

Web scraping adalah proses ekstrasi data dari sebuah website. Salah satu contoh web scraping adalah meng-copy daftar contact dari sebuah direktori web. Memang Anda bisa saja melakukan ini secara manual dengan meng-copy paste data ke excel, misalnya. Tetapi bagaimana kalau datanya banyak? Untuk ini, Anda membutuhkan automation yang bisa membantu proses web scraping Anda lebih cepat dan mudah.

Secara umum, ada dua cara yang bisa Anda gunakan untuk melakukannya:

-    Manual — metode di mana Anda menyalin data dengan cara copy paste dari sebuah website
-    Otomatis — metode yang menggunakan koding, aplikasi, atau extension browser.

Web scraping dilakukan dengan menggunakan web scraper, bot, web spider, atau web crawler. Web scraper sendiri adalah program yang masuk ke halaman website, download kontennya, mengekstrak data dari konten, dan menyimpan data ke satu file atau database.

**Mengapa kita butuh melakukan web scraping?**

Ada banyak alasan mengapa web scraping semakin diperlukan di zaman sekarang. Dengan semakin berkembangnya big data, jumlah data yang tersedia sudah tidak terhitung lagi. Bayangkan kalau Anda harus mengumpulkan dan menyimpan jutaan data dalam satu file sendirian, pasti pusing kan? **Web scraping bisa membantu Anda untuk mengumpulkan data dengan lebih cepat**. Selain itu, kalau memang data yang Anda kumpulkan berjumlah besar, Anda juga bisa melakukan automation dan Anda tidak perlu repot lagi karena yang penting Anda bisa membiarkan server Anda berjalan.

Dengan efisiensi web scraping, ini juga **membantu proses analisa data Anda**. Karena web scraping membantu mengumpulkan semua data tanpa ketinggalan, Anda akan mendapat data lengkap dari proses ini. Dengan begitu, Anda bisa mencari tahu lebih banyak tentang demografis Anda, mulai dari gender, umur, dan data-data lain yang bisa membantu bisnis Anda. Data-data ini tentunya akan memberi insight yang bernilai untuk membantu Anda membuat keputusan yang tepat dalam berbisnis.

Tidak hanya data pelanggan, Anda juga bisa memanfaatkan web scraping untuk mengumpulkan data lain yang penting untuk bisnis Anda. Salah satu hal yang sering dikumpulkan oleh bisnis dengan teknik ini adalah **menganalisa data kompetitor**. Tidak peduli apa jenis bisnis Anda, kemungkinan besar Anda akan perlu melihat bagaimana kompetitor Anda bekerja. Mungkin akan sulit bagi Anda untuk membandingkan semua kompetitor Anda secara manual. Anda bisa mempermudah proses ini dengan melakukan web scraping.

Kalau bisnis Anda sudah berjalan, mungkin Anda juga ingin melakukan **brand monitoring**. Anda juga bisa mengumpulkan berbagai review dan komentar dari publik tentang brand, produk, layanan, dan kompetitor Anda melalui web scraping. Dengan melakukan ini, Anda bisa menggunakannya sebagai cara untuk terus meningkatkan bisnis Anda.

Source: https://www.dewaweb.com/blog/web-scraping-panduan-dan-teknik-tekniknya/

**Teknik Web Scraping**
Teknik web scraping yang umum dilakukan, yaitu:
1.    Menyalin data secara manual
2.    Menggunakan regular expression
3.    Parsing HTML
4.    Menganalisa DOM
5.    Menggunakan XPath
6.    Menggunakan Google Sheet

<hr>

## Import beberapa function yang diperlukan

Function `BeautifulSoup` dan `requests` digunakan untuk melakukan Web Scrapping. Sedangkan `Pandas` digunakan untuk mengolah data.

Learn more ``Beautiful Soup Documentation``: https://www.crummy.com/software/BeautifulSoup/bs4/doc/

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from IPython.display import display

<hr>

# **Scraping**: World Population Dataset
``Scrape data from:`` https://www.worldometers.info/world-population/population-by-country/

## Akses data ke Web yang ingin digali datanya

In [2]:
world_web = requests.get('https://www.worldometers.info/world-population/population-by-country/')
data_web = BeautifulSoup(world_web.content, 'html.parser')

## Mengambil data pada tag tertentu

In [3]:
# mencari data judul di web disertai tag html
data_web.title

In [4]:
# mencari data judul di web tanpa tag html
data_web.title.string

'Population by Country (2020) - Worldometer'

In [5]:
data_web.title.text

'Population by Country (2020) - Worldometer'

In [6]:
# tag tr adalah perintah untuk membuat satu baris tabel di html
# tag ini tidak terlalu akurat karena di dalamnya masih ada tag yang lebih dekat dengan data yang dicari
tr = data_web.find_all('tr')
# tr

In [7]:
# <p> adalah perintah untuk membuat paragraf di html
p = data_web.find_all('p')
p[0].text

'This list includes both countries and dependent territories. Data based on the latest United Nations Population Division estimates. Click on the name of the country or dependency for current estimates (live population clock), historical data, and projected figures.  See also: World Population  '

In [8]:
# <th> adalah perintah untuk membuat baris pertama (header table) di html
th = data_web.find_all('th')
th[7].text

'Migrants (net)'

In [9]:
# <td> adalah perintah untuk membuat baris kedua dst (data table) di html
td = data_web.find_all('td')
td[13].text

'India'

## Mengolah data

In [10]:
# menyimpan data dlaam sebuah variabel list
th = data_web.find_all('th')
td = data_web.find_all('td')

box = [element.text for element in td]
# print(box)
kotak = [element.text for element in th]
# print(kotak)

In [11]:
# another method to loop 
th = data_web.find_all('th')
td = data_web.find_all('td')

box = []
for element in td:
    box.append(element.text) 
    
kotak = []
for element in th:
    kotak.append(element.text) 

# kotak
# box

In [12]:
# memecah data per baris (per negara) dalam satu list, lalu di simpan dalam list "world_population"
world_population = []
a = 0
for i in range(235): #235 adalah jumlah baris di data html (jumlah negara)
    b = (i+1)*12
    world_population.append(box[a:b])
    a = b

print(world_population[3])

['4', 'Indonesia', '273,523,615', '1.07 %', '2,898,047', '151', '1,811,570', '-98,955', '2.3', '30', '56 %', '3.51 %']

In [13]:
# ubah menjadi sebuah dataframe dengan kolom dari variabel "kotak"
world_df = pd.DataFrame(world_population, columns=kotak)
world_df.head()

,#,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211","-348,399",1.7,38,61 %,18.47 %
1,2,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190","-532,687",2.2,28,35 %,17.70 %
2,3,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420","954,806",1.8,38,83 %,4.25 %
3,4,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570","-98,955",2.3,30,56 %,3.51 %
4,5,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880","-233,379",3.6,23,35 %,2.83 %

In [14]:
# mengubah nama kolom
world_df.rename(columns={'Yearly Change':'Yearly Change (%)'}, inplace=True)
world_df.head()

,#,Country (or dependency),Population (2020),Yearly Change (%),Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211","-348,399",1.7,38,61 %,18.47 %
1,2,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190","-532,687",2.2,28,35 %,17.70 %
2,3,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420","954,806",1.8,38,83 %,4.25 %
3,4,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570","-98,955",2.3,30,56 %,3.51 %
4,5,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880","-233,379",3.6,23,35 %,2.83 %

In [15]:
# menghilangkan unsur '%' di kolom 'Yearly Change (%)'
gudang = []
for i in range(len(world_df['Yearly Change (%)'])):
    j = world_df['Yearly Change (%)'][i].split()
    gudang.append(float(j[0]))

In [16]:
world_df['Yearly Change (%)'] = gudang
world_df.head()

,#,Country (or dependency),Population (2020),Yearly Change (%),Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,"1,439,323,776",0.39,"5,540,090",153,"9,388,211","-348,399",1.7,38,61 %,18.47 %
1,2,India,"1,380,004,385",0.99,"13,586,631",464,"2,973,190","-532,687",2.2,28,35 %,17.70 %
2,3,United States,"331,002,651",0.59,"1,937,734",36,"9,147,420","954,806",1.8,38,83 %,4.25 %
3,4,Indonesia,"273,523,615",1.07,"2,898,047",151,"1,811,570","-98,955",2.3,30,56 %,3.51 %
4,5,Pakistan,"220,892,340",2.00,"4,327,022",287,"770,880","-233,379",3.6,23,35 %,2.83 %

<hr>

# **Take Class Exercise**: Indonesia Population in 1960, 1970, ...., 2050
## ``Indonesia Population in 10 years period``

### A. Get data (scrape) from this site: https://www.worldometers.info/world-population/indonesia-population/

### B. Create DataFrame with columns: ``Year, Population, Median Age, Fertility Rate, & Urban Pop Percentage``

In [17]:
# ambil data dari website
indo_web = requests.get('https://www.worldometers.info/world-population/indonesia-population/')
data_indo = BeautifulSoup(indo_web.content, 'html.parser')

In [18]:
# ambil data header table
th_indo = data_indo.find_all('th')
kolom_header = [th_indo[i].text for i in range(len(th_indo))]
kolom_header = kolom_header[0:13]
print(kolom_header)

['Year', 'Population', 'Yearly %  Change', 'Yearly Change', 'Migrants (net)', 'Median Age', 'Fertility Rate', 'Density (P/Km²)', 'Urban Pop %', 'Urban Population', "Country's Share of World Pop", 'World Population', 'IndonesiaGlobal Rank']

In [19]:
# ambil data table
td_indo = data_indo.find_all('td')
kolom_data = [td_indo[i].text for i in range(len(td_indo))]
kolom_data = kolom_data[2:kolom_data.index('1')]
# print(kolom_data)

In [20]:
Indo_pop = []
a = 0
for i in range(25): 
    b = (i+1)*13
    Indo_pop.append(kolom_data[a:b])
    a = b

print(Indo_pop[0])

['2020', '273,523,615', '1.07 %', '2,898,047', '-98,955', '29.7', '2.32', '151', '56.4 %', '154,188,546', '3.51 %', '7,794,798,739', '4']

In [21]:
indo_df = pd.DataFrame(Indo_pop, columns=kolom_header)
indo_df = indo_df.sort_values(by='Year')[['Year', 'Population', 'Median Age', 'Fertility Rate', 'Urban Pop %']]
indo_df.drop_duplicates(subset='Year', inplace=True)
indo_df

    Year   Population Median Age Fertility Rate Urban Pop %
17  1955   77,273,425       20.4           5.49      13.5 %
16  1960   87,751,068       20.2           5.67      14.6 %
15  1965  100,267,062       19.4           5.62      15.8 %
14  1970  114,793,178       18.6           5.57      17.1 %
13  1975  130,680,727       18.5           5.30      19.3 %
12  1980  147,447,836       19.1           4.73      22.1 %
11  1985  164,982,451       19.9           4.11      26.1 %
10  1990  181,413,402       21.3           3.40      30.6 %
9   1995  196,934,260       22.8           2.90      36.1 %
8   2000  211,513,823       24.4           2.55      42.0 %
7   2005  226,289,470       25.6           2.53      46.0 %
6   2010  241,834,215       27.2           2.50      50.1 %
5   2015  258,383,256       28.5           2.45      53.3 %
4   2016  261,556,381       28.8           2.42      53.9 %
3   2017  264,650,963       28.8           2.42      54.5 %
2   2018  267,670,543       28.8           2.42      55.1 %
1   2019  270,625,568       28.8           2.42      55.8 %
18  2020  273,523,615       29.7           2.32      56.4 %
19  2025  287,089,635       31.0           2.32      59.3 %
20  2030  299,198,430       32.4           2.32      62.1 %
21  2035  309,764,944       33.8           2.32      64.6 %
22  2040  318,637,858       35.1           2.32      66.8 %
23  2045  325,705,348       36.2           2.32      68.8 %
24  2050  330,904,664       37.4           2.32      70.7 %

In [22]:
ten_period = [indo_df['Year'].tolist()[i] for i in range(len(indo_df['Year'])) if int(indo_df['Year'].tolist()[i]) % 10 == 0]
ten_period

['1960',
 '1970',
 '1980',
 '1990',
 '2000',
 '2010',
 '2020',
 '2030',
 '2040',
 '2050']

In [23]:
indo_df[indo_df['Year'].isin(ten_period)].reset_index(drop=True)

   Year   Population Median Age Fertility Rate Urban Pop %
0  1960   87,751,068       20.2           5.67      14.6 %
1  1970  114,793,178       18.6           5.57      17.1 %
2  1980  147,447,836       19.1           4.73      22.1 %
3  1990  181,413,402       21.3           3.40      30.6 %
4  2000  211,513,823       24.4           2.55      42.0 %
5  2010  241,834,215       27.2           2.50      50.1 %
6  2020  273,523,615       29.7           2.32      56.4 %
7  2030  299,198,430       32.4           2.32      62.1 %
8  2040  318,637,858       35.1           2.32      66.8 %
9  2050  330,904,664       37.4           2.32      70.7 %

<hr>

# **Take Home Exercise** (Technically Challenging)
## ``Ultraman & Monster Dataset``

### A. Get data (scrape) from this site: http://www.scifijapan.com/articles/2015/10/04/bandai-ultraman-ultra-500-figure-list/

### B. Create DataFrame with columns: ``Ultraman Name``

### C. Create DataFrame with columns: ``Monster Name``

## **Scraping Ultraman Dataset**: Akses data ke Web yang ingin digali datanya

In [24]:
web = requests.get('http://www.scifijapan.com/articles/2015/10/04/bandai-ultraman-ultra-500-figure-list/')
data = BeautifulSoup(web.content, 'html.parser')

## Mengambil data pada tag tertentu

In [25]:
# mendapatkan data title
data.title.string

'Bandai ULTRAMAN Ultra 500 Figure List «  SciFi Japan'

In [26]:
# get all text in website
# print(data.get_text())

In [34]:
strong = data.find_all('strong')

daftar = []
for element in strong:
    daftar.append(element.text)  

# daftar
# (strong[0]).text

## Mengolah data

In [28]:
ultraman = daftar[2:36]
monster = daftar[37:110]

In [29]:
# (ultraman[0]).split()

In [35]:
ultraman_baru = []
for i in range(len(ultraman)):
    ultraman_baru.append((ultraman[i]).split( ))

ultraman_baru

[['01', 'Ultraman'],
 ['02', 'Ultra', 'Seven'],
 ['03', 'Zoffy'],
 ['04', 'Ultraman', 'Jack'],
 ['05', 'Ultraman', 'Ace'],
 ['06', 'Ultraman', 'Taro'],
 ['07', 'Ultraman', 'Leo'],
 ['08', 'Ultraman', 'Tiga', '(Multi-Type)'],
 ['09', 'Ultraman', 'Gaia', '(V2)'],
 ['10', 'Ultraman', 'Agul', '(V2)'],
 ['11', 'Ultraman', 'Ginga'],
 ['12', 'Jean-Nine'],
 ['13', 'Astra'],
 ['14', 'Ultraman', 'Dyna', '(Flash', 'Type)'],
 ['15', 'Ultraman', '80'],
 ['16', 'Ultraman', 'Cosmos', '(Luna', 'Mode)'],
 ['17', 'Ultraman', 'Nexus', '(Anphans)'],
 ['18', 'Ultraman', 'Max'],
 ['19', 'Ultraman', 'Mebius'],
 ['20', 'Ultraman', 'Hikari'],
 ['21', 'Ultraman', 'Zero'],
 ['22', 'Ultraman', 'Nice'],
 ['23', 'Father', 'of', 'Ultra'],
 ['24', 'Ultraman', 'King'],
 ['25', 'Ultraman', 'Saga'],
 ['26', 'Tiga', 'Dark', '(Spark', 'Doll)'],
 ['27', 'Ultraman', 'Dark', '(Spark', 'Doll)'],
 ['28', 'Ultraman', 'Victory'],
 ['29', 'Ultraman', 'Ginga', 'Strium'],
 ['30', 'Ultraman', 'Gingavictory'],
 ['31', 'Shining', 'Ultraman', 'Zero'],
 ['32', 'Ultraman', 'Nexus', 'Junis'],
 ['33', 'Ultraman', 'Cosmos', 'Eclipse', 'Mode'],
 ['34', 'Ultraman', 'Victory', 'Knight']]

In [31]:
for i in range(len(ultraman_baru)):
    if len(ultraman_baru[i]) == 5:
        x = ultraman_baru[i][1] + ' ' + ultraman_baru[i][2] + ' ' + ultraman_baru[i][3] + ' ' + ultraman_baru[i][4]
        ultraman_baru[i].append(x)
        for j in range(4):
            ultraman_baru[i].pop(1)
    elif len(ultraman_baru[i]) == 4:
        y = ultraman_baru[i][1] + ' ' + ultraman_baru[i][2] + ' ' + ultraman_baru[i][3]
        ultraman_baru[i].append(y)
        for j in range(3):
            ultraman_baru[i].pop(1)
    elif len(ultraman_baru[i]) == 3:
        z = ultraman_baru[i][1] + ' ' + ultraman_baru[i][2]
        ultraman_baru[i].append(z)
        for j in range(2):
            ultraman_baru[i].pop(1)

ultraman_baru

[['01', 'Ultraman'],
 ['02', 'Ultra Seven'],
 ['03', 'Zoffy'],
 ['04', 'Ultraman Jack'],
 ['05', 'Ultraman Ace'],
 ['06', 'Ultraman Taro'],
 ['07', 'Ultraman Leo'],
 ['08', 'Ultraman Tiga (Multi-Type)'],
 ['09', 'Ultraman Gaia (V2)'],
 ['10', 'Ultraman Agul (V2)'],
 ['11', 'Ultraman Ginga'],
 ['12', 'Jean-Nine'],
 ['13', 'Astra'],
 ['14', 'Ultraman Dyna (Flash Type)'],
 ['15', 'Ultraman 80'],
 ['16', 'Ultraman Cosmos (Luna Mode)'],
 ['17', 'Ultraman Nexus (Anphans)'],
 ['18', 'Ultraman Max'],
 ['19', 'Ultraman Mebius'],
 ['20', 'Ultraman Hikari'],
 ['21', 'Ultraman Zero'],
 ['22', 'Ultraman Nice'],
 ['23', 'Father of Ultra'],
 ['24', 'Ultraman King'],
 ['25', 'Ultraman Saga'],
 ['26', 'Tiga Dark (Spark Doll)'],
 ['27', 'Ultraman Dark (Spark Doll)'],
 ['28', 'Ultraman Victory'],
 ['29', 'Ultraman Ginga Strium'],
 ['30', 'Ultraman Gingavictory'],
 ['31', 'Shining Ultraman Zero'],
 ['32', 'Ultraman Nexus Junis'],
 ['33', 'Ultraman Cosmos Eclipse Mode'],
 ['34', 'Ultraman Victory Knight']]

In [32]:
df = pd.DataFrame(ultraman_baru, columns=['No', 'Nama Ultraman'])
df

    No                 Nama Ultraman
0   01                      Ultraman
1   02                   Ultra Seven
2   03                         Zoffy
3   04                 Ultraman Jack
4   05                  Ultraman Ace
5   06                 Ultraman Taro
6   07                  Ultraman Leo
7   08    Ultraman Tiga (Multi-Type)
8   09            Ultraman Gaia (V2)
9   10            Ultraman Agul (V2)
10  11                Ultraman Ginga
11  12                     Jean-Nine
12  13                         Astra
13  14    Ultraman Dyna (Flash Type)
14  15                   Ultraman 80
15  16   Ultraman Cosmos (Luna Mode)
16  17      Ultraman Nexus (Anphans)
17  18                  Ultraman Max
18  19               Ultraman Mebius
19  20               Ultraman Hikari
20  21                 Ultraman Zero
21  22                 Ultraman Nice
22  23               Father of Ultra
23  24                 Ultraman King
24  25                 Ultraman Saga
25  26        Tiga Dark (Spark Doll)
26  27    Ultraman Dark (Spark Doll)
27  28              Ultraman Victory
28  29         Ultraman Ginga Strium
29  30         Ultraman Gingavictory
30  31         Shining Ultraman Zero
31  32          Ultraman Nexus Junis
32  33  Ultraman Cosmos Eclipse Mode
33  34       Ultraman Victory Knight